<header>
    <div class="header">
        <div class="headline" id="Start">
            MediMobi-Giessen
        </div>
        <div [ngClass]="{ 'placeHolder': isSticky }"></div>
        <nav [ngClass]="{ 'sticky': isSticky }" class="menuBar">

            <a [ngClass]="{ 'showLogo': isSticky }" class="menuBar" class="logo" href="#Start">
                MediMobi-Giessen
            </a>
            
            <div class="selectables">
                <a href="#Dienstleistungen" class="hoverSelec">
                    <div>Unsere Dienstleistungen</div>
                </a>
                <a href="#Team" class="hoverSelec">
                    <div>Unser Team</div>
                </a>
                <a href="#Kontakt" class="hoverSelec">
                    <div>Kontakt</div>
                </a>
                <a href="#Datenschutz" class="hoverSelec">
                    <div >Datenschutz</div>
                </a>
                <a href="Impressum" class="hoverSelec">
                    <div>Impressum</div>
                </a>
            </div>
        </nav>
    </div>
</header>