<header>
    <div class="header">
        <div class="headline">
            ALTERSBEGLEITUNG
        </div>
        <div [ngClass]="{ 'placeHolder': isSticky }"></div>
        <nav [ngClass]="{ 'sticky': isSticky }" class="menuBar">
            <a href="#Dienstleistungen">Unsere Dienstleistungen</a>
            <a href="#Team">Unser Team</a>
            <a href="#Kontakt">Kontakt</a>
            <a href="#Datenschutz">Datenschutz</a>
            <a href="Impressum">Impressum</a>
        </nav>
    </div>
</header>