.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.precontent{
}


.infoText{
    width: 1000px;
    font-size: larger;
}


.headerPicture {
    height: 400px;
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 15px;
    object-fit: contain;
    // background-color: aqua;
}

.content{
    width: 100%;
}

.contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridDienstleistungen {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 30px;
}

.dienstleistungBox {
    width: 250px;
    padding: 15px;
    // border: 3px solid;
    border-radius: 15px;
    background-color: #d9e6d0;
    filter: drop-shadow(0px 10px 1px #bebaba);
}

.contentDienstleistung,
.contentTeam {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.contentBox{
    padding-top: 120px;
}

.CenterPicBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.darstellungPic {
    background-color: aqua;
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

h2 {
    font-size: 1.2em;
}

.contentKontakt {
    padding-top: 1px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: greenyellow;
    height: 100svh;
    background-image: url('../../assets/alltagsbegleiter.jpg');
    background-size: cover; 
    background-position: center; 
}

.kontaktBox{
    height: 100svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.anotherBox{
    // border: 2px solid;
    padding: 0px;
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0px 10px 1px #0000007c);
}


.telefonSymbol {
    background-color: rgb(58, 218, 84);
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    right: 150px;
    bottom: 70px;
    transition: 0.3s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telefonSymbol:hover{
    background-color: rgb(216, 233, 202);
    scale: 1.5;
    animation: pulsieren 1.3s infinite;
}

.plsWork {
    display: flex;
    align-items: center;
    justify-content: center;

}

.telefonSVG {
    width: 55%;
    height: 55%;
    position: absolute;
}

.telefonSVG:hover{

}

.teamPic{
    background-position: center; 
    border-radius: 50%;
    border: 5px solid rgb(167, 167, 167);
}

@keyframes pulsieren {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Stil für den SVG-Kreis */
.circle {
    fill: #3498db;
    animation: pulsieren 2s infinite;
}

// #Dienstleistungen{
//     width: auto;
//     height: 100px;
// }
